.container {
    height:600px;
    width:600px;

}
.board {
    height:600px;
    width:600px; 

}

h2 {
    color:white;
    
}


table {
    table-layout: fixed;
}
td {
    height:200px
}
.center {
    justify-content:center;
}
.top {
    border-top: #fff;
}

.bottom {
    border-bottom: #fff;
}

.left {
    border-left: #fff;
}

.right {
    border-right: #fff;
}

.cell {
    height:100%;
    width:100%;
}




